name: Visual C++ Compile

on: [push, workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
      - name: Checkout Application
        uses: actions/checkout@v1

      - name: Checkout 'GitHubActions'
        uses: actions/checkout@v1
        with:
          repository: the-sz/GitHubActions
          ref: master
          token: ${{ secrets.token }}
          path: GitHubActions

      - name: Compile
        uses: ./../GitHubActions/VC
        with:
          token: ${{ secrets.token }}
          libraries: "*defaults*,*defaults_app*,HART"
          vc6: Hayman
